{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
<h2>Главная</h2>
<p>Пользователь: {{ user.get_username }}</p>
<div class="link">
    <a href="{% url 'registration' %}">Регистрация</a>
    <a href="{% url 'login' %}">Вход</a>
    <a href="{% url 'logout' %}">Выход</a>
    <a href="{% url 'createpro' %}">Создать продукт</a>
    <a href="{% url 'createcat' %}">Создать категорию</a>
    <a href="{% url 'index' %}">Главная</a>
    <a href="{% url 'product' %}">Продукты</a>
    <a href="{% url 'about' %}">О нас</a>
    <a href="{% url 'contacts' %}">Контакты</a>
</div>
{% if num_product %}
{% for product in num_product %}
<div>
    <p>Название: {{product.name}}</p>
    <p>Описание: {{product.summary}}</p>
    <p>Категория: {{product.category}}</p>
    <img src="{{product.photo.url}}" alt="картинка">
</div>
{% endfor %}
{% else %}
<p>Продуктов нет</p>
{% endif %}
</body>
</html>